<ul class="text-center" style="margin-top: 3em;">
    <% for(let carLoop of car){ %>
        <li style="list-style-type: none; font-size: 2em; font-weight: bolder;"><%= carLoop %> </li>
    <% } %> 
</ul>