<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/navbar') %> 
    <h1 class="text-center" style="margin-top: 1em;"><%= car %> </h1>
    <div class="text-center">
        <img class="" style="height: 500px; " src="<%= carimg %> " alt="">
    </div>
</body>
</html>